@media (max-width:680px) {
    .DiagnosticContainer {
        padding-top: 3vh;
        text-align: center;
        height: 100vh;
    }

    .LogoRow {
        height: 15vh;
    }
    
    
    .DiagnosticText {
        margin: auto;
        width:80vw;
        margin-bottom: 1vh;
        font-size: 3vh;
    }

    .DiagnosticSubText {
        margin: auto;
        width: 90vw;
        font-size: 2.5vh;
    }
}

@media (min-width: 680px) {
    .DiagnosticContainer {
        text-align: center;
        height: 100vh;
    }
    

    .LogoRow {
        width: 80vw;
        height: 20vh;
    }
    
    .DiagnosticText {
        margin: auto;
        width:80vw;
        margin-bottom: 2vh;
        font-size: 3vh;
    }

    .DiagnosticSubText {
        margin: auto;
        width: 80vw;
        font-size: 2.5vh;
    }
}


    .DiagnosticLogo {
  width: 100px;
  height: 100px;
    }
    
    .DiagnosticTextLogo {
  width: 350px;
  height: 10vh;
    }

.hr{width: 100px;
    border: 1px black solid;

}
.temp-singout{
    display: flex;
align-items: center;
align-content: stretch;

}