body {
  overscroll-behavior-y: contain;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  user-select: none;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial,
    sans-serif;
  position: fixed;
  overflow: hidden;
} 

.FlashCards {
  /* background: lightblue; */
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 58%;
  cursor: url('https://uploads.codesandbox.io/uploads/user/b3e56831-8b98-4fee-b941-0e27f39883ab/Ad1_-cursor.png') 39 39, auto;
} 

.FlashCards div {
  position: absolute;
  width: 100vw;
  height: 100vh;
  will-change: transform;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 25rem;
}

.FlashCardTitle {
  font-size: 1rem;
}

.FlashCards div div {
  padding: 5px;
  background-color: white;
  background-size: auto 85%;
  background-repeat: no-repeat;
  background-position: center center;
  width: 45vh;
  max-width: 275px;
  height: 55vh;
  max-height:340px;
  will-change: transform;
  border-radius: 20px !important;
  box-shadow: 0 10px 30px -10px rgba(82, 82, 97, 0.4), 0 20px 5px -10px rgba(59, 59, 77, 0.3);
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
  .FlashCards div {
    padding-bottom: 20rem;
  }
  .FlashCards div div{
    max-width: 400px;
    max-height: 500px;
  }
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {
  .FlashCards div {
    padding-bottom: 20rem;
  }
  .FlashCards div div{
    max-width: 400px;
    max-height: 320px;
  }
  h3 .FlashCards {
    font-size: 1.5rem;
  }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
  .FlashCards div {
    padding-bottom: 35rem;
  }
  .FlashCards div div{
    max-width: 350px;
    max-height: 485px;
  }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .FlashCards div {
    padding-bottom: 24rem;
  }
  .FlashCards div div{
    max-width: 350px;
    max-height: 375px;
  }
}