.nav-bar {
  width: 100vw;
  height: 16vh;
  min-height: 90px;
  padding: 1vh 0;
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  bottom: 0;
  position: fixed;
}

.NavBar-item {
  display: block;
  float: left;
  width: 20%;
  text-decoration: none;
}

.NavBar-link {
  display: block;
  text-align: center;
  text-transform: uppercase;
}

.NavBar-icon {
  background-size: contain;
  height: 40px;
  width: 40px;
  margin: 0 auto;
}

#NavBar-log-icon {
  background-image: url('../img/Menu_HealthLog_Unselected.png');
}

#NavBar-news-icon {
  background-image: url('../img/Menu_News_Unselected.png');
}

#NavBar-chat-icon {
  background-image: url('../img/Menu_Doctor_Unselected.png');
}

#NavBar-map-icon {
  background-image: url('../img/Menu_Map_Unselected.png');
}

#NavBar-settings-icon {
  background-image: url('../img/Menu_Settings_Unselected.png');
}

/* Media Queries */
/* Mobile M */
@media only screen and (max-width: 375px) {
  .nav-bar {
    height: 13vh;
    justify-content: space-around;
    padding: .5rem 0;
  }

  .NavBar-item {
    height: fit-content;
    width: fit-content;
    padding: 0;
  }

  .NavBar-icon {
    height: 20px;
    width: 20px;
    padding: 0;
  }

  .NavBar-link {
    font-size: 10px;
    padding: .5em 0;
  }

}

/* Mobile L */
@media only screen and (max-width: 414px) {
  .nav {
    height: 12vh;
    max-width: 414px;
    justify-content: space-around;
  }

  .NavBar-item {
    height: fit-content;
    width: fit-content;
    padding: .2em 0 0;
  }

  .NavBar-icon {
    height: 30px;
    width: 30px;
  }

  .NavBar-link {
    font-size: 10px;
    padding: .5em 0;
  }
}
