.nav {
  background-color: #f64141;
  width: 100vw;
  height: 10vh;
  padding: 2vh 0;
  display: flex;
  justify-content: center;
}

.NavBar-btn {
  height: 10vh;
  width: 10vh;
  padding: 2vh 0 0;
  text-decoration: none;
}

.NavBar-link {
  color: #fff;
  text-transform: uppercase;
}

.NavBar-icon {
  background-size: contain;
  height: 40px;
  width: 40px;
  margin: 0 auto;
}

#NavBar-log-icon {
  background-image: url('../img/Menu_HealthLog_Unselected.png');
}

#NavBar-news-icon {
  background-image: url('../img/Menu_News_Unselected.png');
}

#NavBar-chat-icon {
  background-image: url('../img/Menu_Doctor_Unselected.png');
}

#NavBar-map-icon {
  background-image: url('../img/Menu_Map_Unselected.png');
}

#NavBar-settings-icon {
  background-image: url('../img/Menu_Settings_Unselected.png');
}
