
.table-logo {
  width: 100px;
  height: 100px;
}
.table-text-logo {
  width: 350px;
  height: 10vh;
}
.hr{width: 100px;
    border: 1px black solid;

}
@media only screen and (max-width: 414px){
    .hr{
        width: 70px;
    }
}
.table {
  width: 90vw;
  margin-left: 5vw;
}
.table-head th {
  border-bottom: 3px solid #b8b8b8 !important;
  border-top: 0px;
  color: #f64141;
}
/* over ride the border styling of bootstrap */
.table-body {
  border: 0px !important;
}
.table-body td {
  border: 0px !important;
}
