.card {
  width: fit-content;
  height: fit-content;
  font-size: 1em;
}

.card-body {
  padding: 0;
}

#Temperature-avgTempText {
  font-size: .8em;
  text-transform: uppercase;
}

#Temperature-temp {
  font-size: 2.25em;
}

/* Mobile M */
/* iPhone 6/7/8 */


/* iPhone X */
@media only screen and (max-width: 414px) and (max-height: 812px) {
  #Temperature-temp {
    font-size: 1.7em;
  }
}

/* Mobile L */
